*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
[Bb]in
[Dd]ebug/
obj/
[Rr]elease/
_ReSharper*/
[Tt]humbs.db
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.dbmdl
*.dbproj.schemaview
*.back.aip
*-cache/
*.orig
*.back*.aip
*.autosave.aip
[Pp]ackages/
artifacts/
build/nuget.exe
build/temp/
build/installerMaker.txt
results/
_NCrunch_*
!build/tools/paket.exe
!build/tasks/release/
!**/TestData/**/*

*.tmp_proj
nCrunchTemp_*
.vs/
.vagrant/

paket.lock
/build/.sonarqube
/build/.temp
/build/paket-files

/.idea/*
!/.idea/.idea.RedGate.ThirdParty.CredentialManagement.Standard/
/.idea/.idea.RedGate.ThirdParty.CredentialManagement.Standard/*
!/.idea/.idea.RedGate.ThirdParty.CredentialManagement.Standard/.idea
/.idea/.idea.RedGate.ThirdParty.CredentialManagement.Standard/.idea/*
!.idea/.idea.RedGate.ThirdParty.CredentialManagement.Standard/.idea/runConfigurations



# Folders used during release
.release/

# state.CommandLine test results location
.results/